.overlaybox{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}
.overlaybox.show {
    opacity: 1;
    visibility: visible;
}
.profilebox{
    background: rgb(160, 154, 156);
    border-radius: 8px;
    width:400px;
    transform: scale(0.8);
    opacity: 0;
    transition: all 0.3s ease;
}

.overlaybox.show .profilebox {
    transform: scale(1);
    opacity: 1;
}

.close{
    display: flex;
    justify-content: end;
    padding: 5px;
    color: aliceblue;
}
.close i:hover{
    color:rgb(51, 47, 47);
    cursor: pointer;  
}
.wrappingbox{
    display: flex;
    gap:20px;
    padding: 20px;
    border-radius: 10px;
}
#profil_picture{
    width: 100px;
    border-radius: 50%;
}
.wrapping{
    display: flex;
    flex-direction: column;
    gap:15px;
    flex: 1;
}
.row{
    background: white;
    padding: 10px;
    border-radius: 5px;
}
.user{
    width:100%;
}
.user tbody tr th{
    width:50%;
    text-align: left;
}
.user tbody tr td{
    width:50%;
    text-align: left;
}

@media screen and (max-width:400px){
    .profilebox{
        width: 100%;
        height: 100%;
    }
    .wrappingbox{
        display: flex;
        flex-direction: column;
        width:100%;
    }
}